{
  "presets": [
    ["@babel/preset-env", { "modules": "commonjs", "targets": { "ie": "11" }, "loose": true }]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-runtime"
  ]
}
